<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <br />
    <%# <h6>Email</h6> %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

    <div>
      <%# <%= f.label :name %>
      <h6>First Name </h6>
      <%# <br /> %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div>
      <%# <%= f.label :name %>
      <h6>Last Name </h6>
      <%# <br /> %>
      <%= f.text_field :lastname, autofocus: true %>
    </div>

    <div>
        <h6>Mobile Number</h6>
        <%# <%= f.label :mobilenumber %>
        <%# <br />  %>
        <%= f.text_field :mobile, autofocus: true %>
    </div>

    <div>
        <%# <%= f.label :role %> 
        <%# <br /> %>
        <h6>Role</h6>
        <%= f.text_field :role, autofocus: true %>
    </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
