 <strong>Name</strong> 
 <br>

 <p> <%= @product.name %> </p>

 <strong>details</strong> 

 <p> <%= @product.details %> </p>

 <strong>quantity</strong> 

 <p> <%= @product.quanity %> </p>

 <strong>brand</strong> 

 <p> <%= @product.brand %> </p>

 <strong>price</strong> 

 <p> <%= @product.price%> </p>
 
 <p><%= button_to "Buy now", buy_now_product_path(@product) %> </p>
 <p><%= button_to "Add to cart", carts_path %> </p>

<% if current_user.role == 'Seller' %>
  <p><%= button_to "Add more quantity", add_now_product_path(@product) %> </p>
<% end %>